In [33]:
# =============================================================================

# Folder: International_Trade_Analysis_Assignment/notebooks/Trade_Data_Pipeline.ipynb
# =============================================================================

import pandas as pd
import numpy as np
import re
import os
import sqlite3
from IPython.display import display, FileLink

print("Trade Data Pipeline Started - 100% Working Version")

Trade Data Pipeline Started - 100% Working Version

In [34]:
import os

# Create all folders
folders = [
    "International_Trade_Analysis_Assignment",
    "international_Trade_Analysis_Assignment/data/raw",
    "international_Trade_Analysis_Assignment/data/processed",
    "international_Trade_Analysis_Assignment/notebooks"
]

for folder in folders:
    os.makedirs(folder, exist_ok=True)

print("Assignment folder structure created!")

Assignment folder structure created!

In [35]:
# CELL A – Create the assignment folder + RAW file (100% clean, no encoding errors)
import os
import pandas as pd

# 1. Create folder structure
os.makedirs("International_Trade_Analysis_Assignment/data/raw", exist_ok=True)
os.makedirs("International_Trade_Analysis_Assignment/data/processed", exist_ok=True)
os.makedirs("International_Trade_Analysis_Assignment/notebooks", exist_ok=True)

# 2. Your data – cleaned of any hidden bad characters
data = {
    'Date of Shipment': ['15/03/2017', '22/06/2018', '10/09/2019', '05/01/2020', '18/04/2021',
                         '30/07/2022', '12/11/2023', '25/02/2024', '14/06/2024', '03/08/2025',
                         '19/01/2025', '28/04/2025', '17/07/2025'],
    'HSN Code': [70134900, 44199090, 73239390, 39241090, 84148090, 70134900, 70134900,
                 44199090, 73239390, 70134900, 70134900, 44199090, 70134900],
    'Goods Description': [
        'BOROSILICATE GLASS TUMBLER 350ML MODEL NO BT350 @ USD 1.2/PC',
        'WOODEN SPOON 12 INCH PACK OF 100 @ USD 0.35/PC',
        'STAINLESS STEEL BOWL 500ML SS-501 @ USD 2.8/PC',
        'PLASTIC WATER BOTTLE 1000ML PB-1000 USD 0.95 PER PC',
        'GREENHOUSE FAN 50 INCH HEAVY DUTY USD 185/PC',
        'BOROSILICATE GLASS JAR 1000ML BJ-1000 @ USD 2.1/PC',
        'OPALWARE DINNER SET 36 PCS OP-36 @ USD 18/SET',
        'BAMBOO FORK & SPOON SET PACK OF 50 USD 0.45/PC',
        'SS CUTLERY SET 24 PCS MODEL CS-24 @ USD 8.5/SET',
        'BOROSILICATE GLASS BOTTLE 500ML BB500 @ USD 1.65/PC',
        'BOROSILICATE TUMBLER 300ML CLEAR USD 1.1/PC',
        'WOODEN SERVING SPOON 14 INCH @ USD 0.48/PC',
        'GLASS STORAGE JAR 750ML WITH LID USD 1.8/PC'
    ],
    'Quantity': [1200, 500, 800, 2000, 50, 600, 300, 1000, 400, 1500, 1800, 750, 900],
    'Unit': ['PCS', 'NOS', 'PCS', 'PCS', 'NOS', 'PCS', 'SET', 'NOS', 'SET', 'PCS', 'PCS', 'PCS', 'PCS'],
    'Unit Price (INR)': [85.2, 29.75, 238, 80.75, 15725, 178.5, 1530, 38.25, 722.5, 140.25, 93.5, 40.8, 153],
    'Total Value (INR)': [102240, 14875, 190400, 161500, 786250, 107100, 459000, 38250, 289000, 210375, 168300, 30600, 137700],
    'Duty Paid (INR)': [28507, 4162, 53292, 45162, 219918, 29944, 128367, 10699, 80812, 58825, 47084, 8556, 38516],
    'Supplier Name and Address': [
        'SHANGHAI GLASSWARE CO LTD, CHINA', 'YIWU WOODCRAFT FACTORY, CHINA',
        'GUANGZHOU STEEL PRODUCTS LTD, CHINA', 'NINGBO PLASTIC MOULD CO, CHINA',
        'QINGDAO GREENHOUSE TECH CO LTD, CHINA', 'SHANDONG BOROSILICATE GLASS, CHINA',
        'GUANGDONG OPALWARE MANUFACTURER, CHINA', 'FUJIAN BAMBOO PRODUCTS CO, CHINA',
        'WUYI STAINLESS STEEL FACTORY, CHINA', 'HEBEI GLASS INDUSTRIES, CHINA',
        'SHANGHAI GLASSWARE CO LTD, CHINA', 'YIWU WOODCRAFT FACTORY, CHINA',
        'SHANDONG BOROSILICATE GLASS, CHINA'
    ],
    'HSN Description': [
        'Glassware of a kind used for table/kitchen', 'Articles of wood', 'Table/kitchenware of stainless steel',
        'Table/kitchenware of plastics', 'Air or vacuum pumps', 'Glassware of a kind used for table/kitchen',
        'Glassware of a kind used for table/kitchen', 'Articles of wood', 'Table/kitchenware of stainless steel',
        'Glassware of a kind used for table/kitchen', 'Glassware of a kind used for table/kitchen',
        'Articles of wood', 'Glassware of a kind used for table/kitchen'
    ]
}

df_raw = pd.DataFrame(data)

# Save with explicit UTF-8 + BOM (so Excel opens perfectly without any error)
df_raw.to_csv("International_Trade_Analysis_Assignment/data/raw/Sample Data 2.csv", 
              index=False, encoding='utf-8-sig')
df_raw.to_excel("International_Trade_Analysis_Assignment/data/raw/Sample Data 2.xlsx", 
                index=False)


print("Check your folder → International_Trade_Analysis_Assignment/data/raw/")

Check your folder → International_Trade_Analysis_Assignment/data/raw/

In [36]:
# CELL B – Test that the CSV opens perfectly now
test = pd.read_csv("International_Trade_Analysis_Assignment/data/raw/Sample Data 2.csv")
print("CSV opened perfectly!")
test.head()

CSV opened perfectly!

,Date of Shipment,HSN Code,Goods Description,Quantity,Unit,Unit Price (INR),Total Value (INR),Duty Paid (INR),Supplier Name and Address,HSN Description
0,15/03/2017,70134900,BOROSILICATE GLASS TUMBLER 350ML MODEL NO BT35...,1200,PCS,85.20,102240,28507,"SHANGHAI GLASSWARE CO LTD, CHINA",Glassware of a kind used for table/kitchen
1,22/06/2018,44199090,WOODEN SPOON 12 INCH PACK OF 100 @ USD 0.35/PC,500,NOS,29.75,14875,4162,"YIWU WOODCRAFT FACTORY, CHINA",Articles of wood
2,10/09/2019,73239390,STAINLESS STEEL BOWL 500ML SS-501 @ USD 2.8/PC,800,PCS,238.00,190400,53292,"GUANGZHOU STEEL PRODUCTS LTD, CHINA",Table/kitchenware of stainless steel
3,05/01/2020,39241090,PLASTIC WATER BOTTLE 1000ML PB-1000 USD 0.95 P...,2000,PCS,80.75,161500,45162,"NINGBO PLASTIC MOULD CO, CHINA",Table/kitchenware of plastics
4,18/04/2021,84148090,GREENHOUSE FAN 50 INCH HEAVY DUTY USD 185/PC,50,NOS,15725.00,786250,219918,"QINGDAO GREENHOUSE TECH CO LTD, CHINA",Air or vacuum pumps

In [37]:
# CELL 1: Load Raw Data (from your clean file)
df = pd.read_csv("../data/raw/Sample Data 2.csv",encoding='utf-8-sig')   # ← Path works from notebooks folder


print(f"Raw data loaded: {df.shape[0]} rows × {df.shape[1]} columns")
df.head()

Raw data loaded: 13 rows × 10 columns

,Date of Shipment,HSN Code,Goods Description,Quantity,Unit,Unit Price (INR),Total Value (INR),Duty Paid (INR),Supplier Name and Address,HSN Description
0,15/03/2017,70134900,BOROSILICATE GLASS TUMBLER 350ML MODEL NO BT35...,1200,PCS,85.20,102240,28507,"SHANGHAI GLASSWARE CO LTD, CHINA",Glassware of a kind used for table/kitchen
1,22/06/2018,44199090,WOODEN SPOON 12 INCH PACK OF 100 @ USD 0.35/PC,500,NOS,29.75,14875,4162,"YIWU WOODCRAFT FACTORY, CHINA",Articles of wood
2,10/09/2019,73239390,STAINLESS STEEL BOWL 500ML SS-501 @ USD 2.8/PC,800,PCS,238.00,190400,53292,"GUANGZHOU STEEL PRODUCTS LTD, CHINA",Table/kitchenware of stainless steel
3,05/01/2020,39241090,PLASTIC WATER BOTTLE 1000ML PB-1000 USD 0.95 P...,2000,PCS,80.75,161500,45162,"NINGBO PLASTIC MOULD CO, CHINA",Table/kitchenware of plastics
4,18/04/2021,84148090,GREENHOUSE FAN 50 INCH HEAVY DUTY USD 185/PC,50,NOS,15725.00,786250,219918,"QINGDAO GREENHOUSE TECH CO LTD, CHINA",Air or vacuum pumps

In [38]:
# CELL 2: Basic Cleaning & Date Handling
df = df.copy()
df.columns = [col.strip().replace(" ", "_").replace("(INR)", "").strip() for col in df.columns]

df.rename(columns={
    'Date_of_Shipment': 'date_of_shipment',
    'HSN_Code': 'hsn_code',
    'Goods_Description': 'goods_description',
    'Quantity': 'quantity',
    'Unit': 'unit',
    'Unit_Price_': 'unit_price_inr',
    'Total_Value_': 'total_value_inr',
    'Duty_Paid_': 'duty_paid_inr',
    'Supplier_Name_and_Address': 'supplier_name',
    'HSN_Description': 'hsn_description'
}, inplace=True)

df['date_of_shipment'] = pd.to_datetime(df['date_of_shipment'], format='%d/%m/%Y', errors='coerce')
df['year'] = df['date_of_shipment'].dt.year
df['month'] = df['date_of_shipment'].dt.month
df['year_month'] = df['date_of_shipment'].dt.to_period('M')

print("Basic cleaning done")

Basic cleaning done

In [39]:
# CELL 3: Advanced Text Parsing (Goods Description)
def parse_goods_description(text):
    if not isinstance(text, str):
        return {k: None for k in ['model_name','model_number','capacity_spec','material_type','embedded_qty','unit_price_usd']}
    
    t = text.upper()
    res = {'model_name':None, 'model_number':None, 'capacity_spec':None, 'material_type':None, 'embedded_qty':None, 'unit_price_usd':None}

    # USD Price
    p = re.search(r'(?:USD|\$)\s*([\d,\.]+)', t)
    if p: res['unit_price_usd'] = float(p.group(1).replace(',',''))

    # Capacity
    c = re.search(r'(\d+(?:\.\d+)?)\s*(ML|L|INCH|CM|MM|KG|G)', t)
    if c: res['capacity_spec'] = c.group(0).strip()

    # Material
    mats = ['BOROSILICATE','OPAL','OPALWARE','STAINLESS STEEL','SS','WOOD','WOODEN','BAMBOO','PLASTIC','GLASS']
    for m in mats:
        if m in t:
            res['material_type'] = m.title().replace('Ss', 'Stainless Steel')
            break

    # Model Number
    mn = re.search(r'\b([A-Z]{2,6}[-/]?\d{2,6})\b', t)
    if mn: res['model_number'] = mn.group(1)

    # Model Name
    clean = re.sub(r'(USD|\$|@).*', '', t)
    clean = re.sub(r'\d+(ML|L|INCH).*', '', clean)
    words = [w for w in clean.split() if w.isalpha() and len(w)>2]
    if words: res['model_name'] = ' '.join(words[:3]).title()

    # Embedded Qty
    eq = re.search(r'(?:PACK OF|X|SET OF)\s*(\d+)', t)
    if eq: res['embedded_qty'] = int(eq.group(1))

    return res

parsed = df['goods_description'].apply(parse_goods_description)
parsed_df = pd.json_normalize(parsed)
df = pd.concat([df.reset_index(drop=True), parsed_df], axis=1)

print("Text parsing completed!")
df[['goods_description','model_name','model_number','capacity_spec','material_type','unit_price_usd']].head(8)

Text parsing completed!

,goods_description,model_name,model_number,capacity_spec,material_type,unit_price_usd
0,BOROSILICATE GLASS TUMBLER 350ML MODEL NO BT35...,Borosilicate Glass Tumbler,BT350,350ML,Borosilicate,1.20
1,WOODEN SPOON 12 INCH PACK OF 100 @ USD 0.35/PC,Wooden Spoon Inch,None,12 INCH,Wood,0.35
2,STAINLESS STEEL BOWL 500ML SS-501 @ USD 2.8/PC,Stainless Steel Bowl,SS-501,500ML,Stainless Steel,2.80
3,PLASTIC WATER BOTTLE 1000ML PB-1000 USD 0.95 P...,Plastic Water Bottle,PB-1000,1000ML,Plastic,0.95
4,GREENHOUSE FAN 50 INCH HEAVY DUTY USD 185/PC,Greenhouse Fan Inch,None,50 INCH,None,185.00
5,BOROSILICATE GLASS JAR 1000ML BJ-1000 @ USD 2....,Borosilicate Glass Jar,BJ-1000,1000ML,Borosilicate,2.10
6,OPALWARE DINNER SET 36 PCS OP-36 @ USD 18/SET,Opalware Dinner Set,OP-36,None,Opal,18.00
7,BAMBOO FORK & SPOON SET PACK OF 50 USD 0.45/PC,Bamboo Fork Spoon,None,None,Bamboo,0.45

In [40]:
# CELL 4: Unit Standardization + Feature Engineering
unit_map = {'PCS':'PCS','PC':'PCS','NOS':'PCS','PIECE':'PCS','SET':'SET'}
df['unit_standardized'] = df['unit'].str.upper().str.strip().map(unit_map).fillna('PCS')

df['grand_total_inr'] = df['total_value_inr'] + df['duty_paid_inr']
df['landed_cost_per_unit'] = np.where(df['quantity'] > 0, df['grand_total_inr'] / df['quantity'], np.nan)
df['duty_percentage'] = np.where(df['total_value_inr'] > 0, df['duty_paid_inr'] / df['total_value_inr'] * 100, np.nan)

print("Feature engineering done")

Feature engineering done

In [41]:
# CELL 5: Category & Sub-Category
def assign_category(row):
    d = f"{row['goods_description']} {row['hsn_description']}".upper()
    if any(x in d for x in ['GLASS','BOROSILICATE','OPAL','TUMBLER','JAR']): return 'Glassware'
    elif any(x in d for x in ['WOOD','WOODEN','BAMBOO']): return 'Wooden Products'
    elif any(x in d for x in ['STEEL','SS','STAINLESS']): return 'Steel Products'
    elif 'PLASTIC' in d: return 'Plastic Products'
    elif 'FAN' in d: return 'Machinery'
    else: return 'Others'

def assign_subcategory(row):
    d = row['goods_description'].upper()
    if row['category'] == 'Glassware':
        if 'BOROSILICATE' in d: return 'Borosilicate'
        if 'OPAL' in d: return 'Opalware'
    elif row['category'] == 'Wooden Products':
        if 'SPOON' in d: return 'Spoons'
        if 'FORK' in d: return 'Forks'
    return 'Others'

df['category'] = df.apply(assign_category, axis=1)
df['sub_category'] = df.apply(assign_subcategory, axis=1)

print("Category logic applied")

Category logic applied

In [42]:
# CELL 6: Save Cleaned Data (CORRECT PATH)
os.makedirs("../data/processed", exist_ok=True)

df.to_csv("../data/processed/trade_data_cleaned.csv", index=False, encoding='utf-8-sig')
df.to_excel("../data/processed/trade_data_cleaned.xlsx", index=False)

print("CLEANED FILES SAVED!")
display(FileLink("../data/processed/trade_data_cleaned.xlsx"))

CLEANED FILES SAVED!

C:\Users\Hi\Assignment\International_Trade_Analysis_Assignment\data\processed\trade_data_cleaned.xlsx

In [43]:
# CELL 7: Create SQLite Database (Power BI Ready)
df_sql = df.copy()
df_sql['year_month'] = df_sql['year_month'].astype(str)
df_sql['date_of_shipment'] = df_sql['date_of_shipment'].astype(str)

conn = sqlite3.connect("../trade_analysis.db")
df_sql.to_sql("shipments", conn, if_exists='replace', index=False)
conn.close()

print("trade_analysis.db created successfully → Ready for Power BI!")

trade_analysis.db created successfully → Ready for Power BI!

In [44]:

print("="*70)
print("YOU ARE 100% DONE WITH THE ASSIGNMENT!")
print("="*70)
print("Files created:")
print("   → ../data/raw/Sample Data 2.xlsx")
print("   → ../data/processed/trade_data_cleaned.xlsx")
print("   → ../trade_analysis.db")
print("   → This notebook")


print("="*70)

======================================================================
YOU ARE 100% DONE WITH THE ASSIGNMENT!
======================================================================
Files created:
   → ../data/raw/Sample Data 2.xlsx
   → ../data/processed/trade_data_cleaned.xlsx
   → ../trade_analysis.db
   → This notebook
======================================================================

In [45]:
import os
os.getcwd()

'C:\\Users\\Hi\\Assignment\\International_Trade_Analysis_Assignment\\notebooks'

In [46]:
import os

for root, dirs, files in os.walk('..', topdown=True):
    for name in files:
        if name.endswith('.db'):
            print(os.path.join(root, name))

..\trade_analysis.db

In [47]:
import shutil

shutil.copy(
    '../trade_analysis.db',
    'C:/Users/Hi/Desktop/trade_analysis.db'
)

'C:/Users/Hi/Desktop/trade_analysis.db'

In [49]:
# CELL 9 — FINAL FIXED VERSION (NO MORE Period ERROR)
import sqlite3
import os

# Fix the Period and datetime columns that cause the error
df_fixed = df.copy()

# Convert Period → string
if 'year_month' in df_fixed.columns:
    df_fixed['year_month'] = df_fixed['year_month'].astype(str)

# Convert datetime → string (safe for SQLite)
if 'date_of_shipment' in df_fixed.columns:
    df_fixed['date_of_shipment'] = df_fixed['date_of_shipment'].astype(str)

# Save to SQLite (now works perfectly)
conn = sqlite3.connect("../trade_analysis.db")  # correct path from notebooks folder
df_fixed.to_sql('shipments', conn, if_exists='replace', index=False)
conn.close()

print("trade_analysis.db created successfully!")
print("Location: ../trade_analysis.db")
print("You can now open this in Power BI — NO MORE ERRORS!")

trade_analysis.db created successfully!
Location: ../trade_analysis.db
You can now open this in Power BI — NO MORE ERRORS!

In [50]:
# CELL 10: Key SQL Queries (Run in Power BI or any SQL tool)

# Macro Trends (YoY Growth)
macro_sql = """
WITH yearly AS (
    SELECT 
        year,
        SUM(total_value_inr) as total_value_inr,
        SUM(duty_paid_inr) as duty_paid_inr,
        SUM(grand_total_inr) as grand_total_inr
    FROM shipments 
    GROUP BY year
)
SELECT 
    year,
    total_value_inr,
    duty_paid_inr,
    grand_total_inr,
    ROUND(100.0 * (total_value_inr - LAG(total_value_inr) OVER (ORDER BY year)) 
          / NULLIF(LAG(total_value_inr) OVER (ORDER BY year), 0), 2) as yoy_value_pct
FROM yearly
ORDER BY year;
"""
print("Macro SQL Ready")

# Pareto Top 25 HSN
pareto_sql = """
WITH hsn_stats AS (
    SELECT 
        hsn_code,
        SUM(total_value_inr) as value_inr
    FROM shipments
    GROUP BY hsn_code
),
ranked AS (
    SELECT 
        hsn_code,
        value_inr,
        ROUND(100.0 * value_inr / SUM(value_inr) OVER(), 2) as pct_total,
        ROUND(100.0 * SUM(value_inr) OVER (ORDER BY value_inr DESC ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) 
              / SUM(value_inr) OVER(), 2) as cumulative_pct
    FROM hsn_stats
)
SELECT 
    CASE WHEN ROW_NUMBER() OVER (ORDER BY value_inr DESC) <= 25 
         THEN hsn_code ELSE 'Others' END as hsn_group,
    SUM(value_inr) as total_value
FROM ranked
GROUP BY CASE WHEN ROW_NUMBER() OVER (ORDER BY value_inr DESC) <= 25 THEN hsn_code ELSE 'Others' END
ORDER BY total_value DESC;
"""
print("Pareto SQL Ready")

Macro SQL Ready
Pareto SQL Ready

In [51]:
# CELL 11: Supplier Churn Analysis
supplier_sql = """
WITH supplier_years AS (
    SELECT DISTINCT supplier_name, year
    FROM shipments
),
active_2025 AS (
    SELECT supplier_name FROM supplier_years WHERE year = 2025
),
historical AS (
    SELECT supplier_name FROM supplier_years WHERE year < 2025
)
SELECT 
    s.supplier_name,
    SUM(CASE WHEN s.year = 2025 THEN 1 ELSE 0 END) > 0 as active_in_2025,
    COUNT(DISTINCT s.year) as years_active,
    CASE 
        WHEN s.supplier_name IN (SELECT supplier_name FROM active_2025) THEN 'Active 2025'
        WHEN s.supplier_name IN (SELECT supplier_name FROM historical) THEN 'Churned'
        ELSE 'New'
    END as status
FROM supplier_years s
GROUP BY s.supplier_name;
"""
print("Supplier Churn SQL Ready")

Supplier Churn SQL Ready